.Header{
    width: 100%;
    height: auto;
    margin: 10px 0;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 30px;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
}
.Search{
    width: 420px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    background-color: transparent;
    border: 1px solid #C3D4E966;
    padding: 8px 10px;
    border-radius: 70px;
    margin: 0 20px 0 -50px;
}
.btnicon1{
    width: 100%;
    height: 20px;
    color: #596780;
}
.btnicon2{
    width: 100%;
    padding:0 0 0 160px ;
    height: 20px;
    color: #596780;
}
input{
    border: none;
    background-color: transparent;
    outline: none;
    font-family: Plus Jakarta Sans;
    font-weight: 500;
    font-style: Medium;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: -2%;
    text-align: justify;
    vertical-align: middle;
    color: #596780;
}
.Search p{
    font-family: Plus Jakarta Sans;
    font-weight: 500;
    font-style: Medium;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: -2%;
    text-align: justify;
    vertical-align: middle;
}
.profil{
    display: flex;
    align-items: center;
    gap: 20px;
}
.profil button{
    display: flex;
    padding: 10px 12px 7px 12px;
    border-radius: 100px;
    border: 1px solid #C3D4E966;
    background-color: transparent;
    font-size: 22px;
    color: #596780;
    box-sizing: border-box;
}
.profil img{
    margin: 0 20px 0 0;
}
.btns{
    display: flex;
    gap: 10px;
}
.Mediabar{
    display: none;
}



@media (max-width: 768px){
    .profil .btns{
        display: none;
    }
}

@media (max-width:480px){
.Header{
    display: none;
}
.Mediabar{
    width: 100%;
    height: auto;
    display: block;
}
.profil0{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 30px;
}
.search0{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 30px;
}
.search-btn{
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    border: 1px solid #C3D4E966;
    padding: 8px 10px;
    border-radius: 40px;
}
.search-btn .srch{
    font-size: 20px;
}
.setting{
    padding: 10px 12px 7px 12px;
    border-radius: 10px;
    border: 1px solid #C3D4E966;
    background-color: transparent;
    font-size: 22px;
    color: #596780;
    box-sizing: border-box;
}
}
