.Header{
    width: 100%;
    height: auto;
}

.Search p{
    font-family: Plus Jakarta Sans;
    font-weight: 500;
    font-style: Medium;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: -2%;
    text-align: justify;
    vertical-align: middle;
}