* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Plus Jakarta Sans;

}

body{
    background-color: #F6F7F9;
}

.first_card{
    width: 582px;
    height: 136px;
    background-color: #FFFFFF;
    border-radius: 10px;
}

.icon{
    color: #3563E9;
    font-size: 24px;
}

.icon_header {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 8px;
    margin-left: 15px;
    position: relative;
    top: 20px;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
}
.location{
    width: 168px;
    border-right: 1px solid #C3D4E966;
}

.p_icon{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-right: 35px;
}
.location h1{
    font-size: 28px;
    font-weight: 700;
}
.p_icon p{
    color: #90A3BF;
    font-weight: 500;
}

.icon2{
    background-color: #3563E9;
    padding: 20px;
    font-size: 70px;
    color: white;
    border-radius: 10px;
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.wrapper{
    margin-bottom: 80px;
}


.card_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.card1{
    width: 304px;
    height: 388px;
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 20px;
}

.card_header{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 30px;
    padding-top: 50px;
}

.card1 p{
    padding-top: 20px;
}


.heart{
    font-size: 30px;
    color: #ED3F3F;
}

.card_header {
    font-weight: 700;
    position: relative;
    bottom: 30px;
}

.card1 p{
    font-size: 20px;
    color: #90A3BF;
    position: relative;
    bottom: 45px;
}

.inf_wrp{
    margin-top: 30px;
    display: flex;
    gap: 18px;
}

.card_footer{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 30px;
    position: relative;
    top: 40px;
}

.card_footer h1 span{
    color: #90A3BF;
    font-size: 18px;
}

.card_footer button{
    padding: 15px 20px;
    color: white;
    border: none;
    border-radius: 4px;
    background-color: #3563E9;
}

.card_footer p{
    color: #90A3BF;
}