.section-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    padding: 40px 0px;
    background-color: #f6f7f9;
}

.car-card {
    background: #ffffff;
    width: 290px;
    padding: 24px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    transition: 0.3s ease;
}

.car-card:hover {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 30px;
}

.card-header h3 {
    margin: 0;
    font-size: 20px;
    color: #1a202c;
    font-weight: 700;
}

.card-header p {
    margin: 4px 0 0 0;
    color: #90a3bf;
    font-weight: 600;
    font-size: 14px;
}
.card-header div{
    font-family: Plus Jakarta Sans;

}

.heart-icon {
    font-size: 22px;
    color: #90a3bf;
    cursor: pointer;
}

.heart-icon.red {
    color: #ed3f3f;
}

.car-img-wrapper {
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.car-img-wrapper img {
    max-width: 100%;
    object-fit: contain;
}

.car-specs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

.car-specs span {
    display: flex;
    align-items: center;
    gap: 6px;
    color: #90a3bf;
    font-size: 14px;
    font-family: Plus Jakarta Sans;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
    font-family: Plus Jakarta Sans;
}

.price-info {
    display: flex;
    flex-direction: column;
}

.current-price {
    font-size: 20px;
    font-weight: 700;
    color: #1a202c;
}

.current-price small {
    font-size: 14px;
    color: #90a3bf;
    font-weight: 400;
}

.old-price {
    font-size: 14px;
    color: #90a3bf;
    text-decoration: line-through;
}

.rent-btn {
    background-color: #3563e9;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
}

.rent-btn:hover {
    background-color: #274cc9;
}

@media (max-width: 1024px) {
    .section-container {
        gap: 15px;
    }

    .car-card {
        width: 280px;
    }
}

@media (max-width: 650px) {
    .section-container {
        padding: 15px;
    }

    .car-card {
        width: 100%;
    }
}